@font-face {
    font-family: 'Trebuchet-custom';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Trebuchet-Custom'), local('Trebuchet-Custom'), url("../fonts/Trebuchet-Custom.ttf") format('truetype');
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background-color: #ffffff;
    color: #848484;
    padding-top: 120px;
}

body * {
    box-sizing: border-box;
}
.holder::after {
    content: '';
    display: block;
    clear: both;
}

img {
    max-width: 100%;
    width: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: normal; /* For this project only*/
}
a {
    color: #323232;
    text-decoration: none;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}
header  {
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #ffffff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.logo {
    font-family: 'Trebuchet-custom', Arial, sans-serif;
    color: #313131;
    font-size: 51px;

}
a.logo span {
    color: #595959;

}

a.logo span:after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #6dd025;
    position: relative;
    top: 2px;
    right: 3px;

}

nav a {
    font-size: 23px;
    display: inline-block;
    padding: 3px 12px;
    margin-left: 38px;
    transition: background-color .7s, color .7s;
}
nav a:hover {
    color: #ffffff;
    background-color: #373737;
}

.banner {
    padding: 80px 0 50px;
    text-align: center;
    
}
main.main-container > section {
    padding-right: 340px;
}

aside {
    float: right;
}
.right-banner {
    padding-bottom: 26px;
}
.article-banner {
    float: left;
    margin: 0 18px 18px 0;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}
.small-block {
    float: left;
    max-width: 33%;
    position: relative;
    padding: 43px 9px 0 0;
}
p {
    font-size: 14px;
}
article > p {
    padding-bottom: 65px;
}
